<div class="myCalendarcomponent_container">
  <div class="myCalendarForm_container">
    <h1>MON CALENDRIER DU MOIS</h1>
    <form class="myCalendarForm" [formGroup]="calendarForm" (ngSubmit)="saveDate()">
      <mat-label>Entrez le mois</mat-label>
      <mat-form-field>
        <input matInput placeholder="ex: 1 pour Janvier ..." formControlName="month" type="text">
        <mat-error>Veuillez entrer un chiffre entre 1 et 12</mat-error>
      </mat-form-field>
      <mat-label>Entrez l'année</mat-label>
      <mat-form-field>
        <input matInput placeholder="ex: 2023" formControlName="year" type="text"/>
        <mat-error>Veuillez entrer une année entre 1900 et 2090</mat-error>
      </mat-form-field>
      <button mat-button color="primary" type="submit">Choisir date</button>
    </form>
  </div>

  <div class="myCalendar">
    <mat-grid-list cols="7" rowHeight="3:2">
      <mat-grid-tile class="tile_style" *ngFor="let calendar of monthCalendarWithEvent">
        <h2 class="tile-date-header">{{calendar.calendarDate | date: 'dd/MM'}}</h2>
        <span class="tile-date-body">
          <span class="tile-event" *ngIf="calendar.event !== undefined">{{calendar.event}}</span>
            <mat-icon class="add-picto" (click)="addEvent(calendar.calendarDate)">add</mat-icon>
          </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
